* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;    
}

a {
    color:aquamarine;
    font-size:16px;
}