* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;    
}

h2 {
    font-weight: 300px;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

.copywright {
    text-align: right;
}

a {
    color:aquamarine;
    font-size:16px;
}